#kanan {
	text-align: right;
	margin-top: -120px;
}

#kaliwa {
	text-align: left;
}

#beware {
	margin-top: 20px;
}


table {
	border-collapse: collapse;
	background: black;
	text-align: center;
	color: white;
	border-style: solid;
	border-color: white;
}

th,td {
	border: 1px solid yellow;
}

header {
	border: 1px solid black;
}